/node_modules
/public/hot
/public/storage
# /public/aplication
# /public/posts
# /public/products
# /public/users
/public/photos
/public/payment
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
