/*Products Scroll*/
.products-scroll-frame {
    overflow-x: scroll;
    white-space: nowrap;
}
.products-scroll {
    display: inline-block;
    margin-left: 10px;
    width: 255px;
}
.product-frame {
    margin-bottom: 10px !important;
}
.product-title .link-product-title {
    white-space: pre-line;
    font-size: 0.8em;
}
