.post-frame {
    margin-top: 30px;
    border-bottom: 1px solid #a18cd1;
    padding: 5px 5px;
}
.post-tags {
    background-color: #a18cd1;
    color: white;
    padding-top: 1px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}
.post-tags:hover {
    background-color: blue;
    text-decoration: none;
    color: white;
}