.fa-facebook-square {
    background-color: #3b5999;
    padding: 7px 7px;
    border-radius: 15px;
    color: white;
}
.fa-instagram {
    background-color: #e4405f;
    padding: 7px 7px;
    border-radius: 15px;
    color: white;
}
.fa-twitter-square {
    background-color: #55acee;
    padding: 7px 7px;
    border-radius: 15px;
    color: white;
}
.fa-linkedin {
    background-color: #0077B5;
    padding: 7px 7px;
    border-radius: 15px;
    color: white;
}
.fa-pinterest-square {
    background-color: #bd081c;
    padding: 7px 7px;
    border-radius: 15px;
    color: white;
}
.fa-whatsapp-square {
    background-color: #25D366;
    padding: 7px 7px;
    border-radius: 15px;
    color: white;
}
.fa-phone-square {
    background-color: #007ee5;
    padding: 7px 7px;
    border-radius: 15px;
    color: white;
}
.fa-comment-alt {
    background-color: #f57d00;
    padding: 7px 7px;
    border-radius: 15px;
    color: white;
}
.fa-youtube {
    background-color: #cd201f;
    padding: 7px 7px;
    border-radius: 15px;
    color: white;
}
.fa-google-plus-square {
    background-color: #dd4b39;
    padding: 7px 7px;
    border-radius: 15px;
    color: white;
}
.fa-envelope {
    background-color: grey;
    padding: 7px 7px;
    border-radius: 15px;
    color: white;
}